<% content_for :title, "New event" %>

<div class="card text-center">

  <div class="card-header">
    <h2>Créer un évènement :</h2>
  </div>
  <div class="card-body">
    <h4 class="card-title"> Tu veux créer un évènement de folay ?</strong></h4>
    <h6 class="text-muted"> Commence par renseigner quelques infos</h6>

    <%= render 'forms' %>
  </div>

</div><br><br>