<html>
<body>
    <div class="alert alert-danger">
          Log in before you drop your gossip !
        </div>
        <div class="container  mt-5">
    <h2 class="mb-5"> Log in :  </h2>
    <form action="/sessions" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="99B+UVrVMVR8muJtxRcPW8h/gzYF3C+1KuC/Y9Kr93Qg5xXN9aNKjufFlVxE7vKqnePhZJq4TADFJm7iz5XtQw==">
     <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" name="email" id="email" class="form-control">
     </div>
     <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control">
     </div>
     <div class="form-check mb-3">
        <input type="checkbox" name="checkbox" id="checkbox" value="true" class="form-check-input"> 
        <label class="form-check-label" for="defaultCheck1">
            Remember me
        </label>
     </div>
        <input type="submit" name="commit" value="Log in" class="btn btn-dark" data-disable-with="Log in">
    </form>
    </div>
</body>
</html>