<h1>Welcome to hell !</h1>

<p>Lorem ipsum dolor sit amet. Qui deleniti eligendi hic dolore tempora non unde omnis qui eius distinctio qui optio accusantium. Aut laborum quis sed ullam neque quo suscipit odit sed mollitia vitae cum magni odio qui deleniti quae ut libero quibusdam.</p>

<div class="container text-center" style="height:80vh">

<div class="card mb-3 mx-4 rounded-pill" >
  <div class="card-body">
    <h5 class="card-title">
      <h1>&nbsp; Hey <span style="color:#8064A2"><%= @first_name %></span>
        <% if @first_name != nil%>
          </br></br>
          <h3>&nbsp;&nbsp;&nbsp;Bien joué tu as trouvé une fonction secrète </style>
          	<span style='font-size:50px;'>&#128293;</span>
          	<span style='font-size:50px;'>&#128520;</span>
		  </h3>
        <%end%>
    </h5>
  </div>
</div>

</br>
<h3>Dans l'URL, rajoute à la fin un <span style="color:#8064A2">"/nomquetuveux"</span> une surprise t'attend !</h3>

<br><br>
<h2 class="row justify-content-center mb-5" style="color: mediumseagreen;">&nbsp; Gossips published</h2>
<br>

<div class="container row justify-content-center">

<div class="card mb-4 col-md-6 p-0" style="width: 25rem; margin: 15px;">
  <h6 class="card-header">Ilyes</h6>
  <div class="card-body">
    <h5 class="card-title"><a href="gossip.title"></a></h5>
    <p class="card-text"><em><a href="gossip.content"></a></em></p>
     &nbsp;&nbsp;&nbsp;
    <button>
    <a href="/gossips/4" class="btn btn-dark" style="color: mediumseagreen;">Gossip n°4</a></button>
    <p class="mb-0 mt-3 text-danger">&nbsp; &nbsp; 1 commentaire(s)</p>
  </div>
</div>

<div class="card mb-4 col-md-6 p-0" style="width: 25rem; margin: 15px;">
  <h6 class="card-header">Wally</h6>
  <div class="card-body">
    <h5 class="card-title"><a href="gossip.title"></a></h5>
    <p class="card-text"><em><a href="gossip.content"></a></em></p>
     &nbsp;&nbsp;&nbsp;
    <button>
    <a href="/gossips/3" class="btn btn-dark" style="color: mediumseagreen;">Gossip n°3</a></button>
    <p class="mb-0 mt-3 text-danger">&nbsp; &nbsp; 1 commentaire(s)</p>
  </div>
</div>

<div class="card mb-4 col-md-6 p-0" style="width: 25rem; margin: 15px;">
  <h6 class="card-header">Taos</h6>
  <div class="card-body">
    <h5 class="card-title"><a href="gossip.title"></a></h5>
    <p class="card-text"><em><a href="gossip.content"></a></em></p>
     &nbsp;&nbsp;&nbsp;
    <button>
    <a href="/gossips/2" class="btn btn-dark" style="color: mediumseagreen;">Gossip n°2</a></button>
    <p class="mb-0 mt-3 text-danger">&nbsp; &nbsp; 1 commentaire(s)</p>
  </div>
</div>

<div class="card mb-4 col-md-6 p-0" style="width: 25rem; margin: 15px;">
  <h6 class="card-header">Victoria</h6>
  <div class="card-body">
    <h5 class="card-title"><a href="gossip.title"></a></h5>
    <p class="card-text"><em><a href="gossip.content"></a></em></p>
    &nbsp;&nbsp;&nbsp;
    <button>
    <a href="/gossips/1" class="btn btn-dark" style="color: mediumseagreen;">Gossip n°1</a></button>
    <p class="mb-0 mt-3 text-danger">&nbsp; &nbsp; 1 commentaire(s)</p>
  </div>
</div>
</div>










